<div class="modal fade in" id="form-categoria">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title" id="form-categoria-label">Adicionar categor&iacute;a</h6>
            </div>

            <form class="form-horizontal" enctype="multipart/form-data" method="post" action="" novalidate
                  table="tabla-categoria">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="text" name="id" value="" class="hidden">
                    <input type="text" name="id_empresa" value="" class="hidden">
                    {#Codigo#}
                    <div class="form-group">
                        <label class="control-label col-lg-1">C&oacute;digo</label>

                        <div class="col-lg-4">
                            <input type="text" name="codigo" class="form-control" required numberfield>
                        </div>
                        {#Denominacion#}
                        <label class="control-label col-lg-2">Denominaci&oacute;n</label>

                        <div class="col-lg-5">
                            <input type="text" name="denominacion" id="id_denominacion" class="form-control" required>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        Cerrar
                    </button>
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>