{% extends "index.html" %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'css/plugins/event.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block script %}
    <script src="{% static 'js/limitless/plugins/notifications/bootbox.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/limitless/plugins/notifications/sweet_alert.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/limitless/core/app.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/plugins/eventos/event.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/app/categoria/functions.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
    Categor&iacute;a
{% endblock %}

{% block content %}
    {% if action == "add" %}
        <script type="text/javascript">
            showMsg("La categor&iacute;a se ha adicionado satisfactoriamente")
        </script>
    {% endif %}
    {% if action == "mod" %}
        <script type="text/javascript">
            showMsg("La categor&iacute;a se ha modificado satisfactoriamente")
        </script>
    {% endif %}
    {% if action == "del" %}
        <script type="text/javascript">
            showMsg("La categor&iacute;a se ha eliminado satisfactoriamente")
        </script>
    {% endif %}
    
    {#    Form categorias#}
    {% include "categoria/form-categoria.html" %}
    {#        Tabla categorias#}
    {% include "categoria/table-categoria.html" %}
    {#    {{ categoria_list }}#}
{% endblock %}