{% extends "layout/base.html" %}
{% load staticfiles %}

{% block script %}

{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    {% if error %}
        <script type="text/javascript">
            $(document).ready(function () {
                showMsg("Usuario o contrase&nacute;a incorrectos", "error");
            })
        </script>
    {% endif %}
    <div class="login-container">
        <form method="post" action="" role="login">
            {% csrf_token %}
            <div class="panel panel-body login-form">
                <div class="text-center">
                    <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                    <h5 class="content-group">Acceda a su cuenta
                        <small class="display-block">Entre sus datos</small>
                    </h5>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <input type="text" placeholder="Usuario" class="form-control" name="username">

                    <div class="form-control-feedback">
                        <i class="icon-user text-muted"></i>
                    </div>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <input type="password" placeholder="Contrase&nacute;a" class="form-control" name="password">

                    <div class="form-control-feedback">
                        <i class="icon-lock2 text-muted"></i>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Entrar <i
                            class="icon-circle-right2 position-right"></i></button>
                </div>

                {#                <div class="text-center">#}
                {#                    <a href="login_password_recover.html">olvido su contrase&nacute;a?</a>#}
                {#                </div>#}
            </div>
        </form>
    </div>

{% endblock %}