{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "images/favicon.png" %}" rel="icon">
    <!-- Bootstrap -->
    <!-- Global stylesheets -->
    <link href="{% static 'fonts/glyphicons-halflings-regular.woff' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/limitless/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/limitless/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/limitless/core.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/limitless/components.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/limitless/colors.css' %}" rel="stylesheet" type="text/css">
    {#  plugins#}
    <link href="{% static 'css/plugins/jquery.dynatable.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/plugins/tooltipster/tooltipster.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/plugins/event.css' %}" rel="stylesheet" type="text/css">
    {#    local#}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    {% block css %}

    {% endblock %}
    {#  libs#}
    <script type="text/javascript" src="{% static 'js/limitless/plugins/loaders/pace.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/limitless/core/libraries/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/limitless/core/libraries/bootstrap.min.js' %}"></script>
    {#  plugins#}
    <script type="text/javascript" src="{% static 'js/limitless/plugins/loaders/blockui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dynatable.js' %}" charset="ISO-8859-1"></script>
    <script src="{% static 'js/limitless/plugins/ui/moment/moment.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/limitless/plugins/pickers/anytime.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/limitless/plugins/pickers/pickadate/picker.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/limitless/plugins/pickers/pickadate/picker.date.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/limitless/plugins/forms/selects/bootstrap_select.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'js/limitless/plugins/notifications/bootbox.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/limitless/plugins/notifications/sweet_alert.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/plugins/jquery.tooltipster.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/plugins/eventos/event.js' %}" type="text/javascript"></script>
    {#  views#}
    <script type="text/javascript" src="{% static 'js/validators.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/funciones.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/globals.js' %}"></script>
    {% block script %}

    {% endblock %}

</head>

<body style="padding-top: 93px;">

{% block header %}
{% endblock %}


<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <i class="icon-arrow-left52 position-left"></i>
                <span class="text-semibold">Home</span> - Dashboard
                <small class="display-block">Good morning, Victoria Baker!</small>
            </h4>
        </div>

        <div class="heading-elements">
            <div class="heading-btn-group">
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
            </div>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">
            {% block content %}

            {% endblock %}

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->


    <!-- Footer -->
    <div class="footer text-muted">
        &copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov"
                                                                 target="_blank">Eugene Kopyov</a>
    </div>
    <!-- /footer -->

</div>
<!-- /page container -->

</body>
</html>
