{% load staticfiles %}
{#<div class="navbar-fixed-top">#}
    <!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <li>
                <span>
                    <img src="{% static 'images/logo.png' %}">
                    <span class="logo-text">Sistema de control de inventario en almacenes</span>
                </span>
            </li>

            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-menu"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-menu">

            <ul class="nav navbar-nav navbar-right">
                <li id="li_fecha" title="Fecha">
                    <a>
                        <i class="icon-calendar52 position-left"></i>
                        <span></span>
                    </a>
                </li>
                <li id="li_hora" title="Hora">
                    <a>
                        <i class="icon-watch2 position-left"></i>
                        <span></span>
                    </a>
                </li>
                <li class="hidden" id="li_empresa" title="Empresa">
                    <a href="../empresa">
                        <i class="icon-office position-left"></i>
                        <span></span>
                    </a>
                </li>
                <li class="hidden" id="li_periodo" title="Per&iacute;odo">
                    <a>
                        <i class="icon-history position-left" style="transform: rotateY(180deg)"></i>
                        <span></span>
                    </a>
                </li>
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        {% if user.is_staff %}
                            <span class="badge bg-danger-400 badge-admin">Admin</span>
                        {% endif %}
                        {% if user.first_name %}
                            <span id="span-user">{{ user.first_name }}</span>
                        {% else %}
                            <span id="span-user">{{ user }}</span>
                        {% endif %}
                        <i class="caret"></i>

                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><i class=" icon-user-check"></i> Mi perfil</a></li>
                        <li class="divider"></li>
                        <li><a action="ch-pass"><i class="icon-lock"></i> Cambiar contrase&ntilde;a</a></li>
                        <li logout><a href="../cerrar"><i class="icon-switch2"></i>Cerrar sesi&oacute;n</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <!-- /main navbar -->


    <!-- Second navbar -->
    <div class="navbar navbar-default" id="navbar-second">
        <ul class="nav navbar-nav no-border visible-xs-block">
            <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-menu-princ"><i
                    class="icon-menu7"></i></a></li>
        </ul>

        <div class="navbar-collapse collapse" id="navbar-menu-princ">
            <ul class="nav navbar-nav" id="barra-menu">
                <li>
                    <a href="../empresa"><i class="icon-office position-left"></i> Empresa</a>
                </li>
                {#           Editar #}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" data-hover="dropdown">
                            <i class="icon-pencil7 position-left"></i>
                            Editar<span class="caret"></span>
                        </a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="../categorias">Categor&iacute;a</a></li>
                            <li class="divider"></li>
                            <li><a href="../productos">Productos</a></li>
                            <li class="divider"></li>
                            <li><a href="../proveedor">Proveedor</a></li>
                            <li><a href="../cliente">Cliente</a></li>
                            <li class="divider"></li>
                            {#                            <li><a href="../datos-usuario">Mis datos</a></li>#}
                            <li><a href="../usuario">Usuarios</a></li>
                            {#                            <li><a href="#">Administrador</a></li>#}
                        </ul>
                    </li>
                </ul>
                {#           Operaciones   #}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" data-hover="dropdown">
                            <i class="icon-coins position-left"></i>
                            Operaciones<span class="caret"></span>
                        </a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="../inventario">Inventario inicial</a></li>
                            <li class="divider"></li>
                            <li><a href="../salida">Salida de mercader&iacute;a</a></li>
                            {#                            <li><a href="">Salida de mercader&iacute;a (Boleta de venta)</a></li>#}
                            <li><a href="../entrada">Entrada de mercader&iacute;a</a></li>
                            <li class="divider"></li>
                            <li><a href="../registro-ventas">Registro de ventas</a></li>
                            {#                            <li><a href="#">Registro de ventas (Boleta de venta)</a></li>#}
                            <li><a href="#">Registro de compras</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Modificar importe reg. ventas (Mul.)</a></li>
                            <li><a href="#">Modificar importe reg. compras (Mul.)</a></li>
                        </ul>
                    </li>
                </ul>
                {#           Consultas   #}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" data-hover="dropdown">
                            <i class="icon-drawer3 position-left"></i>
                            Consultas
                            <span class="caret"></span>
                        </a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="../resumen-movimientos">Resumen de movimientos</a></li>
                            <li class="divider"></li>
                            <li><a href="../stock-disponible">Stock disponible</a></li>
                            <li><a href="../inventario-inicial">Inventario inicial</a></li>
                            <li><a href="#">Inventario final</a></li>
                            <li><a href="#">Costo de ventas</a></li>
                        </ul>
                    </li>
                </ul>
                {#           Consultas al registro #}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" data-hover="dropdown">
                            <i class="icon-cabinet position-left"></i>
                            Consultas al registro<span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="">Resumen registro de ventas</a></li>
                            <li><a href="#">Resumen registro de compras</a></li>
                            <li class="divider"></li>
                            <li><a href="../resumen-ventas">Resumen de ventas</a></li>
                            <li><a href="../resumen-compras">Resumen de compras</a></li>
                        </ul>
                    </li>
                </ul>
                {#           Reportes SUNAT #}
                {#                <ul class="nav navbar-nav">#}
                {#                    <li class="dropdown">#}
                {#                        <a data-toggle="dropdown"  class="dropdown-toggle" data-hover="dropdown">Reportes SUNAT<span#}
                {#                                class="caret"></span></a>#}
                {#                        <ul role="menu" class="dropdown-menu">#}
                {#                            <li><a href="#">Generar registro compra-ventas (f&iacute;sico)</a></li>#}
                {#                            <li><a href="#">Generar registro compra-ventas (PLE)</a></li>#}
                {#                            <li><a href="#">Generar registro inventario f&iacute;sico</a></li>#}
                {#                            <li><a href="#">Generar registro inventario valorizado</a></li>#}
                {#                            <li class="divider"></li>#}
                {#                            <li><a href="#">Registro de compras (Libro f&iacute;sico)</a></li>#}
                {#                            <li><a href="#">Registro de ventas (Libro f&iacute;sico)</a></li>#}
                {#                            <li class="divider"></li>#}
                {#                            <li><a href="#">Registro de compras (PLE)</a></li>#}
                {#                            <li><a href="#">Registro de ventas (PLE)</a></li>#}
                {#                            <li class="divider"></li>#}
                {#                            <li><a href="#">Registro inventario f&iacute;sico</a></li>#}
                {#                            <li><a href="#">Registro inventario valorizado</a></li>#}
                {#                        </ul>#}
                {#                    </li>#}
                {#                </ul>#}
                {#           Reportes #}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" data-hover="dropdown" aria-expanded="true">
                            <i class="icon-list3 position-left"></i>
                            Reportes<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class="dropdown-submenu">
                                <a href="#">Producto</a>
                                <ul class="dropdown-menu">
                                    <li><a href="../reporte-movimientos-productos">Resumen de movimientos y saldos</a>
                                    </li>
                                    <li><a href="#">Resumen compra venta</a></li>
                                    <li><a href="#">Resumen saldos finales</a></li>
                                    <li><a href="#">Resumen costo de ventas</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Movimientos individuales</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#">Cliente</a>
                                <ul class="dropdown-menu">
                                    <li><a href="../reporte-cliente-anual">Resumen anual</a></li>
                                    <li><a href="../reporte-cliente-mensual">Resumen mensual</a></li>
                                    <li><a href="../reporte-cliente-diario">Resumen diario</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Ranking de clientes</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#">Proveedor</a>
                                <ul class="dropdown-menu">
                                    <li><a href="../reporte-proveedor-anual">Resumen anual</a></li>
                                    <li><a href="../reporte-proveedor-mensual">Resumen mensual</a></li>
                                    <li><a href="../reporte-proveedor-diario">Resumen diario</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Ranking de proveedores</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                {#           Herramientas #}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" data-hover="dropdown">
                            <i class="icon-hammer-wrench position-left"></i>
                            Herramientas<span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">Generar backup</a></li>
                            <li><a href="#">Restaurar backup</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Importar productos</a></li>
                            <li><a href="#">Importar clientes</a></li>
                            <li><a href="#">Importar proveedores</a></li>
                        </ul>
                    </li>
                </ul>
                {#           Ayuda #}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" data-hover="dropdown">
                            <i class="icon-question3 position-left"></i>
                            Ayuda<span class="caret"></span>
                        </a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">Manual de usuario</a></li>
                            <li><a href="#">Informaci&oacute;n del software</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
    <!-- /second navbar -->

{#</div>#}