{% extends "index.html" %}
{% load staticfiles %}

{% block script %}
    <script src="{% static 'js/app/reportes_proveedor/functions.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
    Reportes proveedor
{% endblock %}


{% block content %}
    {% if form %}
        <div class=" col-md-10 col-md-offset-1">
            {% include "reportes_proveedor/form-reporte-proveedor.html" %}
        </div>
    {% elif empty %}
        <script type="text/javascript">
            var msg = "No hay resultados que coincidan con el criterio de busqueda especificado";
            showMsg(msg, "information");
        </script>
        <div class=" col-md-10 col-md-offset-1">
            {% include "reportes_proveedor/form-reporte-proveedor.html" %}
        </div>
    {% else %}
        {% include "reportes_proveedor/table-reportes-proveedor.html" %}
    {% endif %}
{% endblock %}