<div class="panel panel-primary panel-bordered">
    <div class="panel-heading">
        <h6 class="panel-title">Lista de productos</h6>

{#        <div class="heading-elements">#}
{#            <ul class="icons-list">#}
{#                <li><a title="Adicionar (CTR+A)" action="add-categoria"><i class=" icon-plus-circle2"></i></a></li>#}
{#                <li class="disabled" table="tabla-categoria"><a title="Editar (CTR+M)" action="mod-categoria"><i#}
{#                        class="icon-pen6"></i></a></li>#}
{#                <li class="disabled" table="tabla-categoria"><a title="Eliminar (DEL)" action="del-categoria"><i#}
{#                        class="icon-trash"></i></a></li>#}
{#            </ul>#}
{#        </div>#}
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

    <div class="panel-body">
        <table class="table table-hover table-bordered" id="tabla-producto-inv" select="true">
            <thead class="bg-primary-600">
            <tr>
                <th class="hidden">Id</th>
                <th class="hidden">Nombre reducido</th>
                <th class="hidden">Abreviatura</th>
                <th class="hidden">categoria_id</th>
                <th class="hidden">tipo_id</th>
                <th class="hidden">unidad_id</th>
                <th class="hidden">cantidad</th>
                <th class="hidden">costo_unitario</th>
                <th class="hidden">costo_total</th>
                <th>C&oacute;digo</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Tipo</th>
                <th>Unidad</th>
            </tr>
            </thead>
            <tbody>
            {% for producto in productos %}
                <tr>
                    <td name="id" class="hidden">{{ producto.id }}</td>
                    <td name="nombre_reducido" class="hidden">{{ producto.nombre_reducido }}</td>
                    <td name="abreviatura" class="hidden">{{ producto.abreviatura }}</td>
                    <td name="categoria_id" class="hidden">{{ producto.categoria_id }}</td>
                    <td name="tipo_id" class="hidden">{{ producto.tipo_id }}</td>
                    <td name="unidad_id" class="hidden">{{ producto.unidad_id }}</td>
                    <td name="unidad_id" class="hidden">{{ producto.cantidad }}</td>
                    <td name="unidad_id" class="hidden">{{ producto.costo_unitario }}</td>
                    <td name="unidad_id" class="hidden">{{ producto.costo_total }}</td>
                    <td name="codigo">{{ producto.codigo }}</td>
                    <td name="nombre">{{ producto.nombre }}</td>
                    <td name="categoria">{{ producto.categoria }}</td>
                    <td name="tipo">{{ producto.tipo }}</td>
                    <td name="unidad">{{ producto.unidad }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>