{% extends "index.html" %}

{% block title %}
    Registro de ventas
{% endblock %}

{% block content %}
    <div class="modal fade col-md-12" id="modal-detalles-venta" tabindex="-1" role="dialog"
         aria-labelledby="form-productoLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span
                                aria-hidden="true">&times;</span>
                        <span
                                class="sr-only">Close
                        </span>
                    </button>
                    <h4 class="modal-title" id="form-producto-label">Detalles de venta</h4>
                </div>
                <div class="modal-body">
                    {% include "salida_mercancia/table_d_venta_modal.html" %}
                </div>
            </div>
        </div>
    </div>
    <span productos='{{ producto_list }}'></span>
    {% csrf_token %}
    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h4 class="panel-title">Registro de ventas</h4>

                <div class="heading-elements">
                    <ul class="icons-list">
                        <li>
                            <a data-action="collapse"></a>
                        </li>
                    </ul>
                </div>
                <a class="heading-elements-toggle">
                    <i class="icon-menu"></i>
                </a>
            </div>

            <div class="panel-body">
                <div class="nav-panel col-md-12">
                    <button class="btn btn-primary" type="submit" id="add-salida-merc">Guardar</button>
                    <button class="btn btn-primary" type="submit">Eliminar</button>
                    <button class="btn btn-primary" type="submit" id="ver-detalle-venta">Ver detalles</button>
                </div>
                <div class="tabbable">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a data-toggle="tab" href="#detalles_comprobante_regventa"
                               aria-expanded="false">Detalles del comprobante y cliente
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#imp-comprobante"
                               aria-expanded="true">Importe del comprobante
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="detalles_comprobante_regventa" class="tab-pane active">
                            {% include "registro_ventas/form-reg-venta.html" %}
                            {% include "registro_ventas/table-reg-venta.html" %}
                        </div>

                        <div id="imp-comprobante" class="tab-pane">
                            {% include "registro_ventas/form-imp-comprobante.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}