<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-hover table-bordered hidden" id="tabla-detalle-venta" select="true">
            <thead class="bg-primary-600">
            <tr>
                <th class="hidden">id</th>
                <th>C&oacute;digo</th>
                <th>Descripci&oacute;n</th>
                <th>Cantidad</th>
                <th>Valor unitario</th>
                <th>Valor venta</th>
                <th>IGV</th>
                <th>Importe</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>