<div class="panel panel-primary">
    <div class="panel-heading">
        <h6 class="panel-title">Salida de mercadería - Ventas (Normal)</h6>

{#        <div class="heading-elements">#}
{#            <ul class="icons-list">#}
{#                <li><a data-action="collapse"></a></li>#}
{#                <li><a data-action="reload"></a></li>#}
{#                <li><a data-action="close"></a></li>#}
{#            </ul>#}
{#        </div>#}
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

    <div class="panel-body">
        <div class="tabbable">
            <ul class="nav nav-tabs nav-justified nav-tabs-highlight">
                <li class="active">
                    <a data-toggle="tab" href="#registro_salidas"
                       aria-expanded="true">Registro de salidas
                    </a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#detalles_comprobante_venta"
                       aria-expanded="false">
                        Detalles del comprobante
                        <i class="icon-floppy-disk position-right" action="add-venta"></i>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="registro_salidas" class="tab-pane active">
                    {% include "salida_mercancia/table-venta.html" %}
                </div>

                <div id="detalles_comprobante_venta" class="tab-pane">
                    {% include "salida_mercancia/form-salida.html" %}
                    {% include "salida_mercancia/table-detalle-venta.html" %}
                </div>
            </div>
        </div>
    </div>
</div>