<div class="panel panel-primary">
    <div class="panel-heading">
        <h6 class="panel-title">Lista de ventas</h6>

        <div class="heading-elements">
            <ul class="icons-list">
                <li><a title="Adicionar venta(CTR+A)" action="add-venta"><i class=" icon-plus-circle2"></i></a></li>
                <li class="disabled" table="tabla-ventas">
                    <a title="Ver detalles de la venta seleccionada (CTR+D)" action="det-venta">
                        <i class="icon-info3"></i>
                    </a>
                </li>
                <li class="disabled" table="tabla-ventas">
                    <a title="Eliminar venta seleccionada (DEL)" action="del-venta">
                        <i class="icon-trash"></i>
                    </a>
                </li>
            </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

    <div class="panel-body">
        <table class="table table-hover table-bordered" id="tabla-ventas" select="true">
            <thead class="bg-primary-600">
            <tr>
                <th class="hidden">ID</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Serie</th>
                <th>N&uacute;mero</th>
                <th>Denominaci&oacute;n</th>
                <th>Subtotal</th>
                <th>IGV</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for venta in venta_list %}
                <tr>
                    <td class="hidden" name="id">{{ venta.id }}</td>
                    <td name="fecha">{{ venta.fecha|date:"d / m / Y" }}</td>
                    <td name="tipo">{{ venta.tipo_comprobante }}</td>
                    <td name="serie">{{ venta.serie }}</td>
                    <td name="numero">{{ venta.numero }}</td>
                    <td name="denominacion">{{ venta.cliente }}</td>
                    <td name="subtotal">{{ venta.subtotal }}</td>
                    <td name="igv">{{ venta.igv }}</td>
                    <td name="total">{{ venta.total }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
