<div class="panel panel-primary panel-bordered">
    <div class="panel-heading">
        <h6 class="panel-title">{{ report_title }}</h6>

        <div class="heading-elements">
            <ul class="icons-list">
                <li>
                    <a title="Exportar PDF (CTR+P)" action="export-pdf">
                        <i class="icon-file-pdf"></i>
                    </a>
                </li>
                <li>
                    <a title="Exportar EXCEL (CTR+E)" action="export-excel">
                        <i class="icon-file-excel"></i>
                    </a></li>
            </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
    </div>

    <div class="panel-body">
        <h6><b>Detalle de ventas al cliente:</b></h6>
        <h6><span><b>R.U.C / D.N.I:</b> {{ cliente.id }}</span>
            <span style="margin-left: 60px"><b>Cliente:</b> {{ cliente.nombre }}</span>
        </h6>
        <table class="table table-hover table-bordered" id="tabla-detalle-ventas">
            <thead class="bg-primary-600">
            <tr>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Serie</th>
                <th>Numero</th>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Valor unitario</th>
                <th>Valor venta</th>
                <th>IGV</th>
                <th>Precio venta</th>
            </tr>
            </thead>
            <tbody>
            {% for det_venta in det_venta_list %}
                <tr>
                    <td name="id">{{ det_venta.fecha|date:"Y-m-d" }}</td>
                    <td name="tipo_id_id">{{ det_venta.tipo }}</td>
                    <td name="nombre">{{ det_venta.serie }}</td>
                    <td name="direccion">{{ det_venta.numero }}</td>
                    <td name="tipo_id">{{ det_venta.codigo }}</td>
                    <td name="identificador">{{ det_venta.producto }}</td>
                    <td name="identificador">{{ det_venta.cantidad }}</td>
                    <td name="identificador">{{ det_venta.valor_unitario }}</td>
                    <td name="identificador">{{ det_venta.valor_venta }}</td>
                    <td name="identificador">{{ det_venta.igv }}</td>
                    <td name="identificador">{{ det_venta.importe }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr class="bg-primary-800">
                <th colspan="6" style="text-align: right">Total</th>
                <th>{{ total.cantidad }}</th>
                <th>{{ total.valor_unitario }}</th>
                <th>{{ total.valor_venta }}</th>
                <th>{{ total.igv }}</th>
                <th>{{ total.importe }}</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>