<div class="panel panel-primary panel-bordered">
    <div class="panel-heading">
        <h6 class="panel-title">Lista de clientes</h6>

        <div class="heading-elements">
            <ul class="icons-list">
                <li><a title="Adicionar cliente(CTR+A)" action="add-cliente"><i class=" icon-plus-circle2"></i></a></li>
                <li class="disabled" table="tabla-cliente"><a title="Editar cliente seleccionado (CTR+M)" action="mod-cliente"><i
                        class="icon-pen6"></i></a></li>
                <li class="disabled" table="tabla-cliente"><a title="Eliminar cliente seleccionado (DEL)" action="del-cliente"><i
                        class="icon-trash"></i></a></li>
            </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
    </div>

    <div class="panel-body">
        <table class="table table-hover table-bordered" id="tabla-cliente" select="true">
            <thead class="bg-primary-600">
            <tr>
                <th class="hidden">id</th>
                <th class="hidden">tipo_id_id</th>
                <th>Nombre</th>
                <th>Direcci&oacute;n</th>
                <th>Tipo de identificaci&oacute;n</th>
                <th>No identificaci&oacute;n</th>
            </tr>
            </thead>
            <tbody>
            {% for cliente in cliente_list %}
                <tr>
                    <td name="id" class="hidden">{{ cliente.id }}</td>
                    <td name="tipo_id_id" class="hidden">{{ cliente.tipo_id_id }}</td>
                    <td name="nombre">{{ cliente.nombre }}</td>
                    <td name="direccion">{{ cliente.direccion }}</td>
                    <td name="tipo_id">{{ cliente.tipo_id }}</td>
                    <td name="identificador">{{ cliente.identificador }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>