<div class="panel panel-primary">
    <div class="panel-heading">
        <h6 class="panel-title">Datos del usuario</h6>

        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

    <div class="panel-body">
        Primary panel using <code>.panel-primary</code> class
    </div>
</div>