<div class="modal fade in" id="form-password">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title" id="form-password-label">Cambiar contrase&ntilde;a</h6>
            </div>

{#            <form class="form-horizontal" enctype="multipart/form-data" method="post" novalidate>#}
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="text" name="id" value="" class="hidden">
                    {#Usuario#}
                    <div class="form-group has-feedback has-feedback-left">
                        <label>Usuario</label>
                        <input type="text" name="usuario" class="form-control" readonly value="{{ user }}">

                        <div class="form-control-feedback">
                            <i class="icon-user text-muted"></i>
                        </div>
                    </div>
                    {#Contrase&ntilde;a anterior#}
                    <div class="form-group has-feedback has-feedback-left">
                        <label>Contrase&ntilde;a anterior</label>
                        <input type="password" name="old_passwd" class="form-control" required value="">

                        <div class="form-control-feedback">
                            <i class="icon-key text-muted"></i>
                        </div>
                    </div>
                    {#Nueva contrase&ntilde;a#}
                    <div class="form-group has-feedback has-feedback-left">
                        <label>Nueva contrase&ntilde;a</label>
                        <input type="password" name="new_passwd" class="form-control" required>

                        <div class="form-control-feedback">
                            <i class="icon-lock2 text-muted"></i>
                        </div>
                    </div>
                    {#Repetir contrase&ntilde;a#}
                    <div class="form-group has-feedback has-feedback-left">
                        <label>Repetir contrase&ntilde;a</label>
                        <input type="password" name="match_passwd" class="form-control" required>

                        <div class="form-control-feedback">
                            <i class="icon-lock2 text-muted"></i>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        Cerrar
                    </button>
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
{#            </form>#}
        </div>
    </div>
</div>