<form action="" method="post">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Resumen de movimientos y saldos de productos</h5>

            <div class="heading-elements">
                <ul class="icons-list">
                    {#                    <li><a data-action="collapse"></a></li>#}
                    {#                    <li><a data-action="reload"></a></li>#}
                    {#                    <li><a data-action="close"></a></li>#}
                </ul>
            </div>
            <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
        </div>
        <div class="panel-body">
            {% csrf_token %}
            {#    Año #}
            <div class="form-group col-md-6">
                <label class="control-label">A&ntilde;o:</label>

                <div>
                    <select name="year">
                        <option>2016</option>
                        <option>2015</option>
                        <option>2014</option>
                    </select>
                </div>
            </div>
            {# Periodo #}
            <div class="form-group col-md-6">
                <label class="control-label">Per&iacute;odo:</label>

                <div>
                    <select name="periodo">
                        <option value="1">Enero - Abril</option>
                        <option value="2">Mayo - Agosto</option>
                        <option value="3">Septiembre - Diciembre</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" style="float: right">Aceptar</button>
        </div>
    </div>
</form>