<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title" id="empresa-form-title">Resumen  de  saldos  y  movimientos  de  productos  desde
            el  mes  de  {{ meses.0 }}  hasta  {{ meses.3 }}  del  a&nacute;o  {{ year }}</h5>

        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
            </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
    </div>
    <div class="nav-table" id="navtb-empresa">
        <!-- Button trigger modal -->
        {% csrf_token %}
        <button class="btn btn-primary">
            Exportar EXCEL
        </button>
        <button class="btn btn-primary">
            Exportar PDF
        </button>
    </div>

    <div class="panel-body" style="display: block;">
        <div class="table-responsive">
            <table class="table table-hover table-bordered" id="tabla-resumen-mov">
                <thead class="bg-primary-600">
                <tr>
                    <th rowspan="2">Codigo</th>
                    <th rowspan="2">Producto</th>
                    <th colspan="4" class="text-center">{{ meses.0 }}</th>
                    <th colspan="4" class="text-center">{{ meses.1 }}</th>
                    <th colspan="4" class="text-center">{{ meses.2 }}</th>
                    <th colspan="4" class="text-center">{{ meses.3 }}</th>
                </tr>
                <tr>
                    <th>Sal.Ini.</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                    <th>Saldo</th>
                    <th>Sal.Ini.</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                    <th>Saldo</th>
                    <th>Sal.Ini.</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                    <th>Saldo</th>
                    <th>Sal.Ini.</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                    <th>Saldo</th>
                </tr>
                </thead>
                <tbody>
{#                <tr>#}
{#                    <td>Codigo</td>#}
{#                    <td>Producto</td>#}
{#                    <td>{{ meses.0 }}</td>#}
{#                    <td>{{ meses.1 }}</td>#}
{#                    <td>{{ meses.2 }}</td>#}
{#                    <td>{{ meses.3 }}</td>#}
{#                    <td>{{ meses.3 }}</td>#}
{#                    <td>{{ meses.3 }}</td>#}
{#                </tr>#}
{#                {% for empresa in empresa_list %}#}
{#                    <tr>#}
{#                        <td name="id" class="hidden">{{ empresa.id }}</td>#}
{#                        <td name="nombre">{{ empresa.nombre }}</td>#}
{#                        <td name="ruc">{{ empresa.ruc }}</td>#}
{#                        <td name="anno_inicio">{{ empresa.anno_inicio }}</td>#}
{#                        <td name="direccion">{{ empresa.direccion }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
                </tbody>
            </table>
        </div>
    </div>
</div>