<div class="modal fade in" id="form-proveedor">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title" id="form-proveedor-label">Adicionar proveedor</h6>
            </div>

            <form class="form-horizontal" enctype="multipart/form-data" method="post" action="" novalidate
                  table="tabla-proveedor">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="text" name="id" value="" class="hidden">

                    {#Nombre#}
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" name="nombre" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                {#Tipo de identificador#}
                                <label>Tipo de identificaci&oacute;n</label>
                                <select name="tipo_id" class="bootstrap-select-search" data-width="100%" required>
                                    <option value=""><b>Seleccionar tipo identificaci&oacute;n</b></option>
                                    {% for tipoid in tipoid_list %}
                                        <option value="{{ tipoid.id }}">{{ tipoid.denominacion }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-sm-6">
                                {#Numero de identificaci&oacute;n#}
                                <label>Numero de identificaci&oacute;n</label>
                                <input type="text" name="identificador" id="identificador_id" class="form-control"
                                       required>
                            </div>
                        </div>
                    </div>

                    {#Direccion#}
                    <div class="form-group">
                        <label>Direcci&oacute;n</label>
                        <input type="text" name="direccion" class="form-control" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        Cerrar
                    </button>
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>