{% extends "index.html" %}
{% load staticfiles %}

{% block script %}
    <script src="{% static 'js/limitless/plugins/notifications/bootbox.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/limitless/plugins/notifications/sweet_alert.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/limitless/core/app.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/app/proveedor/functions.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
    Proveedores
{% endblock %}


{% block content %}
    {% if action == "add" %}
        <script type="text/javascript">
            showMsg("El proveedor se ha adicionado satisfactoriamente")
        </script>
    {% endif %}
    {% if action == "mod" %}
        <script type="text/javascript">
            showMsg("El proveedor se ha modificado satisfactoriamente")
        </script>
    {% endif %}
    {% if action == "del" %}
        <script type="text/javascript">
            showMsg("El proveedor se ha eliminado satisfactoriamente")
        </script>
    {% endif %}
    
    {% include "proveedores/form-proveedor.html" %}

    {% include "proveedores/table-proveedor.html" %}
{% endblock %}