<div class="panel panel-primary panel-bordered">
    <div class="panel-heading">
        <h6 class="panel-title">Lista de categor&iacute;as</h6>

        <div class="heading-elements">
            <ul class="icons-list">
                <li><a title="Adicionar (CTR+A)" action="add-proveedor"><i class=" icon-plus-circle2"></i></a></li>
                <li class="disabled" table="tabla-proveedor"><a title="Editar (CTR+M)" action="mod-proveedor"><i
                        class="icon-pen6"></i></a></li>
                <li class="disabled" table="tabla-proveedor"><a title="Eliminar (DEL)" action="del-proveedor"><i
                        class="icon-trash"></i></a></li>
            </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

    <div class="panel-body">
        <table class="table table-hover table-bordered" id="tabla-proveedor" select="true">
            <thead class="bg-primary-600">
            <tr>
                <th class="hidden">id</th>
                <th class="hidden">tipo_id_id</th>
                <th>Nombre</th>
                <th>Direcci&oacute;n</th>
                <th>Tipo de identificaci&oacute;n</th>
                <th>No identificaci&oacute;n</th>
            </tr>
            </thead>
            <tbody>
            {% for proveedor in proveedor_list %}
                <tr>
                    <td name="id" class="hidden">{{ proveedor.id }}</td>
                    <td name="tipo_id_id" class="hidden">{{ proveedor.tipo_id_id }}</td>
                    <td name="nombre">{{ proveedor.nombre }}</td>
                    <td name="direccion">{{ proveedor.direccion }}</td>
                    <td name="tipo_id">{{ proveedor.tipo_id }}</td>
                    <td name="identificador">{{ proveedor.identificador }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>