<div class="panel panel-primary panel-bordered">
    <div class="panel-heading">
        <h6 class="panel-title">Lista de productos</h6>

        <div class="heading-elements">
            <ul class="icons-list">
                <li><a title="Adicionar (CTR+A)" action="add-producto"><i class=" icon-plus-circle2"></i></a></li>
                <li class="disabled" table="tabla-producto"><a title="Editar producto seleccionado (CTR+M)" action="mod-producto"><i class="icon-pen6"></i></a></li>
                <li class="disabled" table="tabla-producto"><a title="Eliminar producto seleccionado (DEL)" action="del-producto"><i class="icon-trash"></i></a></li>
            </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

    <div class="panel-body">
        <table class="table table-hover table-bordered" id="tabla-producto" select="true">
                <thead class="bg-primary-600">
                <tr>
                    <th class="hidden">Id</th>
                    <th class="hidden">Nombre reducido</th>
                    <th class="hidden">Abreviatura</th>
                    <th class="hidden">categoria_id</th>
                    <th class="hidden">tipo_id</th>
                    <th class="hidden">unidad_id</th>
                    <th>C&oacute;digo</th>
                    <th>Nombre</th>
                    <th>Categor&iacute;a</th>
                    <th>Tipo</th>
                    <th>Unidad</th>
                </tr>
                </thead>
                <tbody>
                {% for producto in producto_list %}
                    <tr>
                        <td name="id" class="hidden">{{ producto.id }}</td>
                        <td name="nombre_reducido" class="hidden">{{ producto.nombre_reducido }}</td>
                        <td name="abreviatura" class="hidden">{{ producto.abreviatura }}</td>
                        <td name="categoria_id" class="hidden">{{ producto.categoria_id }}</td>
                        <td name="tipo_id" class="hidden">{{ producto.tipo_id }}</td>
                        <td name="unidad_id" class="hidden">{{ producto.unidad_id }}</td>
                        <td name="codigo">{{ producto.codigo}}</td>
                        <td name="nombre">{{ producto.nombre }}</td>
                        <td name="categoria">{{ producto.categoria }}</td>
                        <td name="tipo">{{ producto.tipo }}</td>
                        <td name="unidad">{{ producto.unidad }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
</div>