{% extends "index.html" %}

{% block content %}
    <div class="modal fade confirm-del" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                    <h4 id="mySmallModalLabel" class="modal-title">Eliminar cliente</h4>
                </div>
                <div class="modal-body">
                    <form action="del" method="post" id="del-table" accion="del">
                        {% csrf_token %}
                        <input type="text" name="identificador" class="hidden">

                        <p>Est&aacute; seguro que desea eliminar el cliente seleccionado</p>

                        <div class="btn-modals">
                            <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary" type="submit">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <!-- Modal -->
        <div class="modal fade" id="form-cliente" tabindex="-1" role="dialog" aria-labelledby="form-clienteLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="form-cliente-label">Adicionar cliente</h4>
                    </div>
                    <div class="modal-body">
                        {% include "clientes/form-cliente.html" %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /horizotal form -->
        {#        Tabla clientes#}
        {% include "clientes/table-cliente.html" %}
    </div>
{% endblock %}