{% extends "index.html" %}

{% block content %}
    {#    modal eliminar empresa#}
    <div class="modal fade confirm-del" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                    <h4 id="mySmallModalLabel" class="modal-title">Eliminar empresa</h4>
                </div>
                <div class="modal-body">
                    <form action="del" method="post" id="del-table" accion="del">
                        {% csrf_token %}
                        <input type="text" name="ruc" class="hidden">

                        <p>Est&aacute; seguro que desea eliminar la empresa seleccionada</p>

                        <div class="btn-modals">
                            <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary" type="submit">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {#    modal seleccionar periodo#}
    <div class="modal fade" tabindex="-1" id="sel-periodo" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                    <h4 id="mySmallModalLabel" class="modal-title">Seleccionar per&iacute;odo</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% include "empresa/sel-periodo.html" %}
                    <div class="btn-modals">
                        <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary" type="submit" action="sel-empresa">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="col-md-10 col-md-offset-1">
        <div class="modal fade" id="form-empresa" tabindex="-1" role="dialog" aria-labelledby="form-empresaLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="form-empresa-label">Adicionar empresa</h4>
                    </div>
                    <div class="modal-body">
                        {% include "empresa/form-empresa.html" %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /horizotal form -->
        {#        Tabla empresas#}
        {% include "empresa/table-empresa.html" %}
    </div>
    {#    {{ empresa_list }}#}
{% endblock %}