{% extends "index.html" %}

{% load staticfiles %}

{% block title %}
    Empresa
{% endblock %}

{% block script %}
    <script src="{% static 'js/app/empresa/functions.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    {% if action == "add" %}
        <script type="text/javascript">
            showMsg("La empresa se ha adicionado satisfactoriamente")
        </script>
    {% endif %}
    {% if action == "mod" %}
        <script type="text/javascript">
            showMsg("La empresa se ha modificado satisfactoriamente")
        </script>
    {% endif %}
    {% if action == "del" %}
        <script type="text/javascript">
            showMsg("La empresa se ha eliminado satisfactoriamente")
        </script>
    {% endif %}

    {% include "empresa/form-empresa.html" %}

    {% include "empresa/table-empresa.html" %}
    </div>
{% endblock %}