{% csrf_token %}
<div class="panel panel-primary panel-bordered">
    <div class="panel-heading">
        <h6 class="panel-title">Lista de empresas</h6>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a title="Adicionar empresa(CTRL+A)" action="add-empresa"><i class=" icon-plus-circle2"></i></a></li>
                <li class="disabled" table="tabla-empresa"><a title="Editar empresa(CTRL+M)" action="mod-empresa"><i
                        class="icon-pen6"></i></a></li>
                <li class="disabled" table="tabla-empresa"><a title="Eliminar empresa(DEL)" action="del-empresa"><i
                        class="icon-trash"></i></a></li>
                <li class="disabled" table="tabla-empresa"><a title="Seleccionar empresa (CTRL+S)" action="sel-empresa"><i
                        class=" icon-point-up"></i></a></li>
            </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

    <div class="panel-body">
        <table class="table table-hover table-bordered" id="tabla-empresa" select="true">
            <thead class="bg-primary-600">
            <tr>
                <th class="hidden">id</th>
                <th>Nombre</th>
                <th>RUC</th>
                <th>A&ntilde;o inicio</th>
                <th>Direcci&oacute;n</th>
            </tr>
            </thead>
            <tbody>
            {% for empresa in empresa_list %}
                <tr>
                    <td name="id" class="hidden">{{ empresa.id }}</td>
                    <td name="nombre">{{ empresa.nombre }}</td>
                    <td name="ruc">{{ empresa.ruc }}</td>
                    <td name="anno_inicio">{{ empresa.anno_inicio }}</td>
                    <td name="direccion">{{ empresa.direccion }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>